@page "/userpanel"
@using OpenOsp.Client.Enums
@using OpenOsp.Client.Components.UserPanel

<div class="card w-full min-w-screen-md shadow-2xl bg-base-200 bg-opacity-95">
  <div class="tabs w-full">
    <div @onclick="() => _mode = UserPanelMode.Members"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Members ? "tab-active" : string.Empty)">
      Members
    </div>
    <div @onclick="() => _mode = UserPanelMode.Equipment"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Equipment ? "tab-active" : string.Empty)">
      Equipment
    </div>
    <div @onclick="() => _mode = UserPanelMode.Actions"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Actions ? "tab-active" : string.Empty)">
      Actions
    </div>
  </div>
  <div class="card-body bg-base-100">
    @switch (_mode) {
      case UserPanelMode.Members:
        <CascadingValue Name="CheckedMembers" Value="@_checkedMembers">
          <MembersTable/>
        </CascadingValue>
        break;
      case UserPanelMode.Equipment:
        <CascadingValue Name="CheckedEquipment" Value="@_checkedEquipment">
          <EquipmentTable/>
        </CascadingValue>
        break;
      case UserPanelMode.Actions:
        <CascadingValue Name="CheckedActions" Value="@_checkedActions">
          <CascadingValue Name="CheckedMembers" Value="_checkedMembers">
            <CascadingValue Name="CheckedEquipment" Value="_checkedEquipment">
              <ActionsTable/>
            </CascadingValue>
          </CascadingValue>
        </CascadingValue>
        break;
    }
  </div>
</div>

@code {

  private UserPanelMode _mode { get; set; } = UserPanelMode.Members;

  private ISet<int> _checkedActions { get; } = new HashSet<int>();

  private IDictionary<int, string> _checkedEquipment { get; } = new Dictionary<int, string>();

  private IDictionary<int, string> _checkedMembers { get; } = new Dictionary<int, string>();

}