@using OpenOsp.Client.Enums
@using OpenOsp.Client.Components.UserPanel
@page "/userpanel"

<div class="card w-full min-w-screen-md shadow-2xl bg-base-200 bg-opacity-95">
  <div class="tabs w-full">
    <div @onclick="() => _mode = UserPanelMode.Members"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Members ? "tab-active" : string.Empty)">
      Members
    </div>
    <div @onclick="() => _mode = UserPanelMode.Equipment"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Equipment ? "tab-active" : string.Empty)">
      Equipment
    </div>
    <div @onclick="() => _mode = UserPanelMode.Actions"
         class="tab tab-lg tab-lifted @(_mode == UserPanelMode.Actions ? "tab-active" : string.Empty)">
      Actions
    </div>
  </div>
  <div class="card-body bg-base-100">
    @switch (_mode) {
      case UserPanelMode.Members:
        <CascadingValue Name="MarkedMembers" Value="@_markedMembers">
          <MembersTable/>
        </CascadingValue>
        break;
      case UserPanelMode.Equipment:
        <CascadingValue Name="MarkedEquipment" Value="@_markedEquipment">
          <EquipmentTable/>
        </CascadingValue>
        break;
      case UserPanelMode.Actions:
        <CascadingValue Name="MarkedActions" Value="@_markedActions">
          <ActionsTable/>
        </CascadingValue>
        break;
    }
  </div>
</div>

@code {

  private UserPanelMode _mode { get; set; } = UserPanelMode.Members;

  private ISet<int> _markedActions { get; set; } = new HashSet<int>();
  
  private ISet<int> _markedEquipment { get; set; } = new HashSet<int>();
  
  private ISet<int> _markedMembers { get; set; } = new HashSet<int>();

}