@using OpenOsp.Model.Dtos
@using OpenOsp.Client.Enums
@using OpenOsp.Client.Components.UserPanel.Actions.CreateModal

<label @onclick="() => _isOpen = true" class="btn btn-accent modal-button">Add</label>
<input type="checkbox" class="modal-toggle" @bind="_isOpen"/>
<div class="modal">
  <div  class="modal-box">
    <div class="modal-action">
      <button @onclick="HandleClose" class="btn btn-circle btn-sm">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
      </button>
    </div>
    <h1 class="mb-5 text-center text-2xl font-bold">Update an action</h1>
    <ul class="w-full steps">
      <li data-content="B" class="@("step " + (_mode >= ActionModalMode.Basics ? "step-primary" : string.Empty))">Basics</li> 
      <li data-content="M" class="@("step " + (_mode >= ActionModalMode.Members ? "step-primary" : string.Empty))">Members</li> 
      <li data-content="E" class="@("step " + (_mode >= ActionModalMode.Equipment ? "step-primary" : string.Empty))">Equipment</li> 
    </ul>
    <EditForm Model="@_createDto">
      <DataAnnotationsValidator/>
      @switch (_mode) {
        case ActionModalMode.Basics:
          <ActionCreateBasics @bind-Mode="_mode" CreateDto="@_createDto"/>
          break;
        case ActionModalMode.Members:
          <ActionCreateMembersTable @bind-Mode="_mode" CreateDtos="@_createDto.Members"/>
          break;
        case ActionModalMode.Equipment:
          <ActionCreateEquipmentTable @bind-IsOpen="_isOpen" @bind-Mode="_mode" CreateDtos="@_createDto.Equipment"/>
          break;
      }
    </EditForm>
  </div>
</div>

@code {

  private bool _isOpen { get; set; } = false;

  private ActionModalMode _mode { get; set; } = ActionModalMode.Basics;

  private ActionCreateDto _createDto { get; set; } = new();

  protected override Task OnParametersSetAsync() {
    ResetForm();
    return base.OnParametersSetAsync();
  }

  private void HandleClose() {
    ResetForm();
    _mode = ActionModalMode.Basics;
    _isOpen = false;
  }

  private void ResetForm() {
    _createDto = new();
    _createDto.StartTime = DateTime.Now;
    _createDto.EndTime = _createDto.StartTime.Add(new TimeSpan(0, 30, 0));
    _createDto.Equipment = new List<ActionEquipmentCreateDto>();
    _createDto.Members = new List<ActionMemberCreateDto>();
  }

}