@inherits InputDate<DateTime>

<div class="form-control">
  @if (IsLabeled) {
    <label class="label">
      <LabelText For="@ValueExpression" class="label-text"/>
    </label>
  }
  <label class="input-group">
    <InputDate Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression"
               class="@("input input-bordered " + CssClass.Replace(" valid", " input-success").Replace(" invalid", " input-error"))"/>
    <input type="time" @bind="Value" @bind:format="HH:mm"
           class="@("input input-bordered " + CssClass.Replace(" valid", " input-success").Replace(" invalid", " input-error"))"/>
  </label>
  <label class="label">
    @SubLabel
    <div class="label-text-alt mx-2 text-error text-xs">
      <ValidationMessage For="@ValueExpression"/>
    </div>
  </label>
</div>

@code {

  [Parameter]
  public bool IsLabeled { get; set; } = true;

  [Parameter]
  public RenderFragment SubLabel { get; set; }

}