@inherits InputText

<div class="form-control">
  <InputText Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression"
    class="@("input input-bordered " + CssClass.Replace(" valid", " input-success").Replace(" invalid", " input-error"))"
    @attributes="@AdditionalAttributes" />
  <label class="label">
    <div class="label-text-alt mx-2 text-error">
      <ValidationMessage For="@ValueExpression" />
    </div>
  </label>
</div>